
# 입력과 출력
# 1. 입력함수
## 1.1 input 실습 -1

In [1]:
input('입력해주세요') #이상한값이 나올수 있다!
int(input('입력해주세요'))

입력해주세요20
입력해주세요10

10

## 1.2 input 실습 -2

input으로 받은 값을 변수에 할당

In [2]:
name = input("이름을 입력해주세요")
print("Hello, " + name + "!")

이름을 입력해주세요김지희
Hello, 김지희!

In [3]:
#input 을 활용한 덧셈 = 문자열인 경우 -> 입력값이 이상하게 나온다.
a = input("첫번쨰 숫자를 입력해주세요")
b = input("두번쨰 숫자를 입력해주세요")

print("a + b =", a+b , "입니다.")

첫번쨰 숫자를 입력해주세요3
두번쨰 숫자를 입력해주세요5
a + b = 35 입니다.

In [7]:
#input 을 활용한 덧셈 = 문자열인 경우 -> int로 숫자형을 입력해주면 입력값이 제대로 나온다.
a = int(input("첫번쨰 숫자를 입력해주세요"))
b = int(input("두번쨰 숫자를 입력해주세요"))

print("a + b =", a+b , "입니다.")

첫번쨰 숫자를 입력해주세요3
두번쨰 숫자를 입력해주세요5
a + b = 8 입니다.

## 2.출력함수
# 2.1 print 실습 -1

In [ ]:
# 한 줄 출력
print('출력합니다.')

## 2.2 print 실습 -2

In [9]:
# 여러줄 출력
'출력합니다.'
'출력합니다.'

'출력합니다.'

In [10]:
# 여러값 출력
print("hello", "world","1")

hello world 1

In [11]:
# sep 구분자
print("hello","world","!",sep = "-")

hello-world-!

In [12]:
# sep 구분자 / end 구분자
print("hello", "world", "!", sep = "-", end = "!!!")

hello-world-!!!!